
/* 
    Created on : Nov 20, 2017, 1:52:43 PM
    Author     : Yehia Farag
*/
html{
    overflow: hidden !important;
    width: 100% !important;
    height: 100% !important;
}
center{
    height:100%;
    width:100%;
}
#outerhtml{
    width: 100% !important;
    height: 100% !important;
    /* padding: 10px; */
    margin: -2px;
}
#outerhtml table{
    width: 100% !important;
    height: 100% !important;
}
#appdiv canvas{
    width: 100% !important;
    height: 100% !important;
}

#jsmol_select, #jsmol_submit,#jsmol_query {
    visibility:hidden !important;
    border:2px solid blue;
}
#jsmol_canvas2d {
    width: 100% !important;
    height: 100% !important;
}#litemolid {

}
