<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>Vaadin Web Application</display-name>
    <listener>
        <listener-class>com.uib.web.peptideshaker.listeners.VaadinSessionListener</listener-class>
    </listener>
    <context-param>
        <description>exported files folder url D:\users_temp_files /home/yehia/users_temp_files    /home/probe/user/CSF-PR-FILES    </description>
        <param-name>filesURL</param-name>
        <param-value>D:\users_temp_files </param-value>
    </context-param>
    <!-- Session Configuration -->
    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>
  
  
</web-app>